*.*~
*~
*.pyc
*.swp
*.swo
.idea

# ignore robotframework files
log.html
output.xml
debug.txt
report.html
foobar.txt
tests-report/

~*
htmlcov
.coverage
build/
MANIFEST
dist/
include/
lib/
test.py
bin/
src/robotframework_httpx.egg-info/
.vscode/

# ignore virtuvalenv
venv/*
env/*

