httpx[http2]>=0.18.2
robotframework>=3.2.2
requests~=2.25.1

# Optional modules to run tests
pytest;           'test' in extra
flask;            'test' in extra
coverage;         'test' in extra
flake8;           'test' in extra
six;              'test' in extra
Werkzeug;         'test' in extra
setuptools;       'test' in extra

# Optional modules to use NTLM authentication
httpx_ntlm;       'ntlm' in extra
